<main class="main user-edit">

<div class="row">
  <div class="col-11 col-md-8 mx-auto">
    <h2 class="user-edit__title main__heading">アカウント情報編集</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field" data-controller="lock-id">
      <%= f.input :unique_user_id, wrapper: :floating_labels_form, placeholder: '', disabled: true, input_html: { data: { lock_id_target: "lock" } } %>

      <button type="button" class="btn btn-secondary id_edit_btn" id="id_edit_btn"
        data-action="click->lock-id#change"
        data-lock-id-target="editButton",
      >IDを編集</button>
    </div>

    <div class="field">
      <%= f.input :name, wrapper: :floating_labels_form, placeholder: '' %>
    </div>
 
    <div class="field">
      <%= f.input :text, as: :text, wrapper: :floating_labels_form, placeholder: '' %>
    </div>
     
    <div class="field">
      <%= f.input :image, as: :file,
        label: 'プロフィール画像 ( jpg / png / jpeg )',
        input_html: { 
          accept: "image/jpeg,image/png", 
          id: 'file-input', 
          class: 'form-control',
        data: {
          controller: "cropper",
          action: "change->cropper#triming click->cropper#reChoice"
        } 
      } %>
      <!-- トリミング後の画像情報を隠しフィールドに一時保存 -->
      <%= f.hidden_field :cropped_image, id: 'cropped_image_data', value: "" %>
      <!-- 元のファイル名を保存 -->
      <%= f.hidden_field :original_file_name, id: 'original_file_name', value: "" %>
    </div>  

    <!-- モーダル -->
    <div id="image-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">画像の編集</h5>
          </div>
          <div class="modal-body">
            <img id="selected-image" src="" alt="選択された画像" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="crop-cancel-button" data-bs-dismiss="modal">閉じる</button>
            <button type="button" class="btn btn-primary" id="crop-button">トリミング</button>
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.input :email, label: '現在のメールアドレス', wrapper: :floating_labels_form, placeholder: '', disabled: true %>
    </div>

    <div class="field change_email">
      <%= link_to 'メールアドレスを変更する', edit_change_email_path %>
    </div> 

    <div class="field" data-controller="user-password-hidden">
      <%= f.input :password, label: '現在のパスワード', wrapper: :floating_labels_form, placeholder: '', disabled: true, input_html: { id: 'masked_password', data: { user_password_hidden_target: "currentPassword" } } %>
    </div>

    <div class="field change_password">
      <%= link_to 'パスワードを変更する', edit_change_password_path %>
    </div>
    
    <!-- LINK -->

    <div class="links">

      <h2 class="links__title main__heading">URLジェネレーター</h2>
      <div class="generator" data-controller="url-generator">
        <div class="generator-url">
          <select name="generator-url__select" id="generator-url__select" class="generator-url__select" data-url-generator-target="serviceSelect">
            <option value="default" selected>サイト選択</option>
            <option value="X">X</option>
            <option value="Instagram">Instagram</option>
            <option value="Youtube">Youtube</option>
            <option value="Tiktok">Tiktok</option>
            <option value="TiktokLive">Tiktok Live</option>
            <option value="Twitch">Twitch</option>
            <option value="Twicas">Twicas</option>
          </select>
          <input type="text" class="generator-url__account form-control" placeholder="ID、アカウント名を入力" data-url-generator-target="accountName">
          <button type="button" class="generator-url__btn btn btn-primary" id="generator-url__btn"
            data-action="click->url-generator#urlGenerate"
          >URL生成</button>
        </div>
        <div class="generator-result">
          <div id="generator-result__url" class="generator-result__url" data-url-generator-target="resultArea"></div>
          <button type="button" class="generator-result__copy btn btn-primary"
            data-url-generator-target="urlCopyBtn"
            data-action="click->url-generator#copyUrl"
          >URLコピー</button>
        </div>
      </div>

      <h2 class="links__title main__heading">リンク設定</h2>
      <% if f.object.links.any? %>
        <div id="links__list" data-controller="link-form">
        <% sorted_links = f.object.links.sort_by(&:link_order) %>
          <% sorted_links.each do |link| %>
            <div class="field links__item">
              <%= f.fields_for :links, link do |link_form| %>
                <div class="links__item-header">
                  <span class="links__paste-btn" data-action="click->link-form#paste">
                    URL貼付
                  </span>
                  <span class="links__clear-btn" data-action="click->link-form#reset">
                    <i class="bi bi-x-lg"></i>
                  </span>
                </div>
                <%= link_form.input :link_name, wrapper: :floating_labels_form, placeholder: '', input_html: { data: { link_form_target: "linkName" }} %>
                <%= link_form.input :link_url, wrapper: :floating_labels_form, placeholder: '', input_html: { data: { link_form_target: "linkUrl" }} %>
                <%= link_form.hidden_field :link_order, value: link.link_order %>
              <% end %>
            </div>
          <% end %>  
      <% else %>
        <!-- 新規登録の初回だけ、空のリンクオブジェクトを追加 -->
        <div id="links__list" data-controller="link-form">
          <% 10.times do |order| %>
            <%= f.fields_for :links, f.object.links.build do |link_form| %>
              <div class="field links__item">
                <div class="links__item-header">
                  <span class="links__paste-btn" data-action="click->link-form#paste">
                    URL貼付
                  </span>
                  <span class="links__clear-btn" data-action="click->link-form#reset">
                    <i class="bi bi-x-lg"></i>
                  </span>
                </div>
                <%= link_form.input :link_name, wrapper: :floating_labels_form, placeholder: '', input_html: { data: { link_form_target: "linkName" }} %>
                <%= link_form.input :link_url, wrapper: :floating_labels_form, placeholder: '', input_html: { data: { link_form_target: "linkUrl" }} %>
                <%= link_form.hidden_field :link_order, value: order %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %> 
    </div>

    <div class="actions">
      <%= f.button :submit, "更新", class: 'form-control btn btn-primary' %>
    </div>
    
    <% end %>

      <%= link_to "アカウント削除", edit_delete_account_path, class: 'user-edit__delete-btn' %>

    </div>
  </div>
</main>