<header class="header" data-controller="header-menu">
  <div class="header__mask" data-header-menu-target="bgMask"></div>
  <div class="header__wrapper">
    <h1 class="header__logo">
      <%= link_to root_path, class: 'header__logo-link' do %>
        <span class="logo-yellow">L</span>ink Board
      <% end %>
    </h1>

    <button class="hamburger" id="hamburger" data-action="click->header-menu#open_close">
      <span class="hamburger__icon" data-header-menu-target="menuIcon"></span>
    </button>

    <%= render 'shared/desktop_menu' %>
  </div>

  <nav class="menu" data-header-menu-target="menu">
  <% if user_signed_in? %>
    <p class="menu__user-name"><%= current_user.name %></p>
    <ul class="menu__list">
      <!-- ログインしている場合 -->
      <li class="menu__item">
          <%= form_with(url: users_path, method: :get, role: 'search', html: { class: 'menu__search-box' }) do %>
            <%= text_field_tag :search_text, params[:search_text], id: 'search-text-mobile', class: 'menu__search-text', type: 'search', placeholder: 'ユーザー検索', autocomplete: 'off' %>
            <button type="submit" class="menu__search-btn">
              <i class="bi bi-search"></i>
            </button>
          <% end %>
      </li>
      <li class="menu__item">
        <%= link_to user_profile_path(current_user.unique_user_id), class: 'menu__link' do %>
          マイページ<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to edit_user_registration_path, class: 'menu__link' do %>
          設定<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to help_path, class: 'menu__link' do %>
          ヘルプ<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to contact_path, class: 'menu__link' do %>
          お問合せ<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？'}, class: 'menu__link' do %>
          ログアウト<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
    </ul>
    <% else %>
    <!-- ログインしていない場合 -->
    <ul class="menu__list">
      <li class="menu__item">
        <%= form_with(url: users_path, method: :get, role: 'search', html: { class: 'menu__search-box' }) do %>
            <%= text_field_tag :search_text, params[:search_text], id: 'search-text-mobile', class: 'menu__search-text', type: 'search', placeholder: 'ユーザー検索', autocomplete: 'off' %>
            <button type="submit" class="menu__search-btn">
              <i class="bi bi-search"></i>
            </button>
          <% end %>
      </li>
      <li class="menu__item">
        <%= link_to root_path, class: 'menu__link' do %>
          TOP<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to new_user_registration_path, class: 'menu__link' do %>
          新規登録<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to new_user_session_path, class: 'menu__link' do %>
          ログイン<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <li class="menu__item">
        <%= link_to help_path, class: 'menu__link' do %>
          ヘルプ<i class="bi bi-chevron-right"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>