<main class="main change_password">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto">
      <%= simple_form_for(@user, url: change_password_path, html: { method: :put }) do |f| %>

        <div class="field">
          <%= f.input :password, label: '新しいパスワード', wrapper: :floating_labels_form, placeholder: '' %>
        </div>
        <div class="field">
          <%= f.input :password_confirmation, label: '新しいパスワード（確認用）', wrapper: :floating_labels_form, placeholder: '' %>
        </div>
        <div class="field edit-auth">
          <%= f.input :current_password, label: '現在のパスワード', wrapper: :floating_labels_form, placeholder: '' %>
        </div> 
        <div class="actions">
          <%= f.submit "パスワードを変更", class: 'form-control btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</main>
